.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  border-color: blue;
  box-shadow: 5px 10px gainsboro;
  cursor: pointer;
}

.thumbnail {
  border-radius: 20px;
  height: 250px;
}

.title-card {
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}
